<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New user</title>
</head>
<body>

<form th:method="POST" th:action="@{/users}" th:object="${user}">

  <input type="hidden" th:field="*{id}"/>

  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/><br/>

  <label for="nickname">Nickname: </label>
  <input type="text" th:field="*{nickname}" id="nickname"/>
  <br/><br/>

  <label for="mail">Mail: </label>
  <input type="text" th:field="*{mail}" id="mail"/>
  <br/><br/>

  <input type="submit" value="Add"/>

</form>

</body>
</html>